<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ad.grupo10.gestionbarrial">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionBarrial">
        <activity
            android:name=".activities.denuncias.denuncia.DetalleDenunciaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.denuncias.denunciasRecibidas.DenunciasRecibidasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.denuncias.crearNuevaDenuncia.CrearNuevaDenunciaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.landing.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.LoginInspectorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.menu.MenuVecinoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.promos.PromocionesServiciosActivity"
            android:exported="true" />
        <activity
            android:name=".activities.login.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.onboarding.OnboardingActivity"
            android:exported="true" />
    </application>

</manifest>